In [29]:
import pandas as pd

In [42]:
data=[['a',"[('item1','0.1'),('item2','0.1')]"],
      ['b',"[('item3','0.1'),(('item4','0.1'))]"],
      ['c',"[('item5','0.1'),(('item6','0.1'))]"]]
df = pd.DataFrame(data, columns=['pin','vec'])
df.head(10)

  pin                                  vec
0   a    [('item1','0.1'),('item2','0.1')]
1   b  [('item3','0.1'),(('item4','0.1'))]
2   c  [('item5','0.1'),(('item6','0.1'))]

In [43]:
col_name=df.columns.tolist()
col_name.insert(2,'v')
col_name.insert(3,'ip')
df1=df.reindex(columns=col_name)
df1.head(10)

  pin                                  vec   v  ip
0   a    [('item1','0.1'),('item2','0.1')] NaN NaN
1   b  [('item3','0.1'),(('item4','0.1'))] NaN NaN
2   c  [('item5','0.1'),(('item6','0.1'))] NaN NaN

In [44]:
vectors=df1['vec'].tolist()
v=[]
ip=[]
for vec in vectors:
    val=eval(vec)
    print(val)
    v.append(','.join([d[0] for d in val]))
    ip.append(','.join([d[1] for d in val]))
    
df1['v']=v
df1['ip']=ip
df1.head(10)

[('item1', '0.1'), ('item2', '0.1')]
[('item3', '0.1'), ('item4', '0.1')]
[('item5', '0.1'), ('item6', '0.1')]

  pin                                  vec            v       ip
0   a    [('item1','0.1'),('item2','0.1')]  item1,item2  0.1,0.1
1   b  [('item3','0.1'),(('item4','0.1'))]  item3,item4  0.1,0.1
2   c  [('item5','0.1'),(('item6','0.1'))]  item5,item6  0.1,0.1

In [45]:
df1=df1.drop('vec', axis=1)

In [46]:
df1.head(10)

  pin            v       ip
0   a  item1,item2  0.1,0.1
1   b  item3,item4  0.1,0.1
2   c  item5,item6  0.1,0.1

In [72]:
compare_sql="""

select user_pin,'topn','{size}', if({topn1}={topn2},1,0),'2020-03-30' from (
select t1.user_pin,
split(t1.vec，',') as vec1,split(t2.vec，',') as vec2,t1.dt from dmc_dev.liuning11_test_ana_hotsearch_offline t1
left join dmc_dev.liuning11_test_ana_hotsearch_realtime t2
on(t1.user_pin=t2.user_pin and t1.dt=t2.dt)) t

"""
def create_slice(size,field_name):
    v=['{f}[{i}]'.format(f=field_name,i=str(i)) for i in range(size)]
    v="CONCAT_WS(',',{v})".format(v=','.join(v))
    return v

In [73]:
sql=compare_sql.format(size=10,topn1=create_slice(10,'vec1'),topn2=create_slice(10,'vec2'))
print(sql)

select user_pin,'topn','10', if(CONCAT_WS(',',vec1[0],vec1[1],vec1[2],vec1[3],vec1[4],vec1[5],vec1[6],vec1[7],vec1[8],vec1[9])=CONCAT_WS(',',vec2[0],vec2[1],vec2[2],vec2[3],vec2[4],vec2[5],vec2[6],vec2[7],vec2[8],vec2[9]),1,0),'2020-03-30' from (
select t1.user_pin,
split(t1.vec，',') as vec1,split(t2.vec，',') as vec2,t1.dt from dmc_dev.liuning11_test_ana_hotsearch_offline t1
left join dmc_dev.liuning11_test_ana_hotsearch_realtime t2
on(t1.user_pin=t2.user_pin and t1.dt=t2.dt)) t